body {
    margin: 0;
    color: rgb(192, 84, 255);
    background-color: black;
    font-family: "Inter", "PretendardVariable";
    font-size: small;
    line-height: 25px;

}

a {
    text-decoration: none;
    color: rgb(192, 84, 255);
}

h1 {

    text-align: left;
    margin: 30px;
    padding: 10px;
    margin-left: 45px;
}

h1 img {
    width: 85px;
}

h2 {
    color: rgb(204, 163, 224);
    font-family: mont;
    font-size: 20pt;
}

h3 {
    margin-bottom: 7px;

}

ol {

    width: 100px;
    margin: 0px;
    margin-left: 20px;
    padding: 20px;
    list-style: none;
    line-height: 15px;
    letter-spacing: 1px;
    font-weight: bold;

}

#article {
    color: rgb(158, 99, 193);
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ol {
    padding-left: 33px;
}

#grid #article {
    padding-left: 60px;
}

@media(max-width:800px) {
    #grid {
        display: block;
    }

    ol {
        border-right: none;
    }

    h1 {
        border-bottom: none;
    }

}

html,
body {
    margin: 0;
    padding: 0;
}

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
    
}
section {
    padding-bottom: 300px;

    /* footer의 height값과 동일 */
}
footer {
   
    text-align: center;
    width: 100%;
    height: 200px;
    /* 내용물에 따라 알맞는 값 설정 */
    bottom: 0px;
    position: absolute;
    border-top: 1px solid rgb(60, 25, 81);
    

}
footer a {
    display: inline-block;
    margin: 0px 20px 0px 20px;
    color: rgb(192, 84, 255); font-size: 12px;
  }
  footer nav{
    margin-top: 30px;
  }
  
  footer a:visited {
    color: rgb(204, 163, 224);
  }
  
  footer p {
    margin-top: 20; margin-bottom: 0;   
  }
  
  footer p span {
    display: inline-block;
  }
